@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StudentEditViewModel
@{ViewBag.Title = "编辑学习信息";
    var photoPath = "~/images/noimage.png";
    if (Model.ExistingPhotoPath != null)
    {
        photoPath = "~/images/avatars/" + Model.ExistingPhotoPath;
    }
}
<form enctype="multipart/form-data" asp-controller="home" asp-action="edit" method="post" class="mt-3">
    <div asp-validation-summary="All" class="text-danger"></div>

    @*不需要展示给用户看的ID和头像文件路径*@
    <input hidden asp-for="Id" />
    <input hidden asp-for="ExistingPhotoPath" />

    @*asp-for绑定模型的属性，在指定的input元素中展示现有数据*@
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" placeholder="请输入名字" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" placeholder="请输入邮箱地址" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Major" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Major" asp-items="Html.GetEnumSelectList<MajorEnum>()" class="custom-select mr-sm-2">
                <option value="">请选择</option>
            </select>
            <span asp-validation-for="Major" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="EnrollmentDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="EnrollmentDate" type="date" class="form-control" placeholder="选择时间" />
            <span class="text-danger" asp-validation-for="EnrollmentDate"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photos" multiple class="form-control custom-file-input">
                <label class="custom-file-label">请选择照片....</label>
            </div>
        </div>
    </div>

    <div class="form-group row row col-sm-4 offset-4">

        <img class="imagesThumbnail" src="@photoPath" asp-append-version="true" />
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">更新</button>
            <a asp-controller="home" asp-action="index" class="btn btn-primary">取消</a>
        </div>
    </div>
    @*js设置标签中展示选择的文件的名称*@
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $(".custom-file-input").on("change", function () {
                    console.log($(this));
                    var fileLabel = $(this).next(".custom-file-label");
                    var files = $(this)[0].files;
                    if (files.length > 1) {
                        fileLabel.html("您已选择了：" + files.length + "个文件");
                    } else if (files.length == 1) {
                        fileLabel.html(files[0].name);
                    }
                });
            });
        </script>
    }
</form>