@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3 class="text-danger">
    您的账户已被锁定，请稍后重试
    <a asp-action="ForgotPassword" asp-controller="Account">点击重置密码</a>
</h3>