@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EmailAddressViewModel

<h2>激活邮箱</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="ActivateUserEmail" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>