@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-info">修改密码结果通知</h1>
<h4 class="text-secondary">
    您的密码已经修改成功
</h4>
<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">点击此处返回首页</a>